nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #333;
    gap: 45px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #61dafb;
}

nav a svg {
    margin-right: 5px;
}
